 /*Assim colocamos comentários aqui.*/
 /*elemento {} propriedade: valor;*/
 *{
    margin: 0;
    padding: 0;
    border: 0;
 }
 li{
   list-style: none;
   display: inline;
   margin-right: 40px;
 }
 .inicio{
   background-color:#EA9E0E;
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center; /*deixar centralizado no nav*/
   justify-content: flex-end;
 }
 .menu li>a{
   color:#ffffff;
   font-size: 20px;
   margin-right: 40px;
   text-decoration: none;
 }
 h1{
   text-align: center;
   color:#F03635;
   font-size: 36px;
   font-weight: 700;
 }
.perfil{
   background-color:#ffffff;
   height: 450px;
   max-width: 100%;
   text-align: center;
}
.minha-descricao{
   font-size: 16px;
   width: 490px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 21px;
}
img{
   margin-top: 48px;
   margin-bottom: 26px;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   box-shadow: rgba(56, 56, 63, 0.2) 0px 7px 29px 0px;
}
.profissao{
   font-size: 20px;
   color: #8a8989;
   font-weight: 700;
}
#formacao{
   height: 500px;
   background-color:#f3f3f3;
   max-width: 100%;
}
.container{
   margin-left:auto;
   margin-right:auto;
   margin-top:86px;
   max-width: 700px;
}
.artigo-formacao{
   display:flex;
   flex-direction:column;
   margin-bottom: 100px;
}
.titulo-secao{
   font-size: 24px;
   font-weight: 700;
   color: #F03635;
   margin-bottom: 50px;
   margin-top: 40px;
}
.lista-formacao{
   padding-left: 32px;
   display: flex;
}
.titulo-formacao{
   font-size: 18px;
   color:#8a8989;
   font-weight: 600;
   margin-bottom: 10px;
}
.link-formacao{
   color:#F09835;
   font-size: 14px;
}
.descricao-formacao{
   font-size: 16px;
   margin-top: 8px;
   margin-bottom: 53px;
   text-align: justify;
}
#portfolio{
   max-width: 100%;
   height: 500px;
}
.container2{
   margin-top: 86px;
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
}
.artigo-projeto{
   display: flex;
   flex-direction: column;
   margin-bottom: 50px;
}
.lista-projeto{
   padding-left: 32px;
}
.titulo-projeto{
   color:#F03635;
   margin-bottom: 40px;
   font-size: 24px;
   font-weight: 700;
}
.tipo-projeto{
   color: #8a8989;
   font-weight: 600;
   font-size: 18px;
   font-family: Open sans;
   margin-bottom: 10px;
}
.link-projeto{
   color:#F09835;
}
.descricao-projeto{
   margin-top: 5px;
   text-align: justify;
   font-size: 16px;
   margin-bottom: 50px;
}
#rodape{
   display: flex;
   align-items: center;
   background-color: #EA9E0E;
   height: 198px;
   max-width: 100%;
}
.lista-rodape li{
   font-size:18px;
   margin-bottom:28px;
   font-weight: 700;
   display: flex;
   align-items: center;
}
.container-rodape{
   margin-left: 60px;
}
.icone{
   margin-right: 10px;
   height: 24.5px;
   width:24.5px;
}
.redes{
   color: #ffffff;
   text-decoration: none;
}
